@using WebTMDT_Client.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RatingViewModel
<div class="container w-50">
    <div class="progress my-2">
        <p class="text-monospace">5</p><i class="fa-solid fa-star mx-2"></i>
        <div class="progress-bar bg-success" role="progressbar" style="width: @((double)Model.FiveStar/(double)Model.TotalReview*100)%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress my-2">
        <p class="text-monospace">4</p><i class="fa-solid fa-star mx-2"></i>
        <div class="progress-bar bg-warning" role="progressbar" style="width: @((double)Model.FourStar/(double)Model.TotalReview*100)%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress my-2">
        <p class="text-monospace">3</p><i class="fa-solid fa-star mx-2"></i>
        <div class="progress-bar bg-warning" role="progressbar" style="width: @((double)Model.ThreeStar/(double)Model.TotalReview*100)%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress my-2">
        <p class="text-monospace">2</p><i class="fa-solid fa-star mx-2"></i>
        <div class="progress-bar bg-danger" role="progressbar" style="width: @((double)Model.TwoStar/(double)Model.TotalReview*100)%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress my-2">
        <p class="text-monospace">1</p><i class="fa-solid fa-star mx-2"></i>
        <div class="progress-bar bg-danger" role="progressbar" style="width: @((double)Model.OneStar/(double)Model.TotalReview*100)%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>