@using WebTMDT_Client.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    var item = Model.result;
    var reviews = Model.reviews;
    ViewData["Title"] = $"{item.Title} - Thông tin sản phẩm";
    Layout = "_LayoutHome";

    RatingViewModel rating = new RatingViewModel();
    rating.TotalReview = reviews.Count;
    foreach (var review in reviews)
    {
        switch (review.Star)
        {
            case 1:
                rating.OneStar++;
                break;
            case 2:
                rating.TwoStar++;
                break;
            case 3:
                rating.ThreeStar++;
                break;
            case 4:
                rating.FourStar++;
                break;
            case 5:
                rating.FiveStar++;
                break;
        }
    }

    var user_have_comment = false;
    if (ViewBag.UserId!=null)
    {
        user_have_comment = reviews.Any(q => q.User.Id == ViewBag.UserId);
    }
    
}
@model ProductDetailViewModel
<div class="container mt-2">
    <div class="row">
        <div class="col-12 col-md-4">
            <img src=@item.imgUrl
                 class="img-fluid rounded border border-5" alt="...">
        </div><div class="col-12 col-md-8">
            <h1 class="pro_name">@item.Title</h1>
            <h3 class="pro_author text-muted">
                <span class="red">
                    <i class="fas fa-user me-2" aria-hidden="true"></i>Tác giả :
                </span>
                @foreach (var author in item.Authors)
                {
                    <span class="me-1">&bull; @author.Name</span>
                }
            </h3>
            <h3 class="pro_author text-muted">
                <span class="blue">
                    <i class="fas fa-book me-2" aria-hidden="true"></i>NXB :
                </span>
                @item.Publisher.Name 
            </h3>
            <h3 class="pro_author text-muted">
                <span class="green">
                    <i class="fas fa-print me-2" aria-hidden="true"></i>Năm xuất bản :
                </span>
                @item.PublishYear
            </h3>
            <p class="pro_des">Sơ lược</p>
            <hr>
            <p class="pro_des_long">
                @item.Description
            </p>
            <hr>
            <p>
                <span>
                    <i class="fas fa-dollar-sign me-2" aria-hidden="true"></i>Giá :
                </span>
                @if (item.PromotionInfo == null)
                {
                    <span class="text-center text-danger fs-3 ms-2 ">@item.Price.ToString("n0")</span>
                }
                else if (item.PromotionInfo.PromotionAmount != null)
                {
                    <span class="text-center text-danger fs-3 ms-2 ">@((item.Price-Double.Parse(item.PromotionInfo.PromotionAmount)).ToString("n0"))</span>
                    <span class="text-center text-muted text-decoration-line-through mx-3 ">@item.Price.ToString("n0")đ</span>
                    <span class="badge rounded-pill bg-danger ">-@item.PromotionInfo.PromotionAmount đ</span>
                }
                else if (item.PromotionInfo.PromotionPercent != null)
                {
                    <span class="text-center text-danger fs-3 ms-2 ">@((item.Price-item.Price/100*Double.Parse(item.PromotionInfo.PromotionPercent)).ToString("n0"))</span>
                    <span class="text-center text-muted text-decoration-line-through mx-3 ">@item.Price.ToString("n0")đ</span>
                    <span class="badge rounded-pill bg-danger ">-@item.PromotionInfo.PromotionPercent %</span>
                }

            </p>
            <p>
                <span>
                    <i class="fas fa-tags me-2" aria-hidden="true"></i>Thể loại :
                </span>
                @foreach (var genre in item.Genres)
                {
                    <span class="d-inline mx-1">
                        <a href="/search?genre=@genre.Id" style="color: rgb(25, 135, 151);">☆@genre.Name</a>
                    </span>
                }

            </p>
            <hr>
            <button class="btn btn-round btn-info" onclick="addToCart(@Json.Serialize(item).ToString())">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Thêm vào giỏ
            </button>
        </div>
    </div><hr>
</div>

<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h2 class="text-center text-monospace lead">
                        <i class="fas fa-bars me-1"></i>Thông số sản phẩm
                    </h2>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="alert alert-info" role="alert">
                        Mã sản phẩm : @item.Id
                    </div>
                    <div class="alert alert-info" role="alert">
                        Tác giả :   @foreach (var author in item.Authors)
                        {
                            <span class="me-1">&bull; @author.Name</span>
                        }
                    </div>
                    <div class="alert alert-info" role="alert">
                        NXB : @item.Publisher.Name
                    </div>
                    <div class="alert alert-info" role="alert">
                        Số trang : @item.NumberOfPage
                    </div>
                    <div class="alert alert-info" role="alert">
                        Năm xuất bản : @item.PublishYear
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">

            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <h2 class="text-center text-monospace lead">
                        <i class="fas fa-bars me-1"></i>Đánh giá sản phẩm
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div id="product_rating">
                        @await Component.InvokeAsync("Rating",rating)
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h2 class="text-center text-monospace lead">
                        <i class="fas fa-bars me-1"></i>Nhận xét sản phẩm
                    </h2>
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="mt-1">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            @if (ViewBag.UserId == null)
                            {
                                <p>Hãy đãng nhập để nhận xét sản phẩm!</p>
                            }
                            else
                            {
                                @if (user_have_comment)
                                {
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Chỉnh sửa comment
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteReviewModal" >Xóa comment của tôi</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Viết comment
                                    </button>
                                }
                            }

                        </div>
                    </div>
                    <div id="product_comment">
                        @await Component.InvokeAsync("Comment",reviews)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container mt-3">
    <div class="d-flex justify-content-center">
        <h3 class="text-monospace text-tron">
            <i class="far fa-star"></i> Sản phẩm liên quan
        </h3>
    </div>
     @await Component.InvokeAsync("ProductRelated",item.Id)
</div>*@

@*modal viet review*@
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Viết nhận xét</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Review" asp-action="PostReview" method="post" id="postReview">
                    <input type="hidden" name="UserID"  value="@(ViewBag.UserId)" />
                    <input type="hidden" name="BookId"  value="@(item.Id)" />
                    <div class="mb-3">
                        <div class="form-floating">
                            <select class="form-select" aria-label="Default select example " required name="Star">
                                <option value="1">1☆</option>
                                <option value="2">2☆</option>
                                <option value="3">3☆</option>
                                <option value="4">4☆</option>
                                <option selected value="5">5☆</option>
                            </select>
                            <label for="floatingSelect">Đánh giá cho sản phẩm</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" name="Content" placeholder="Leave a comment here" required id="floatingInput"></textarea>
                            <label for="floatingInput">Nhận xét của bạn</label>
                        </div>
                    </div>
                    <p>Bạn có khuyến khích mua sản phẩm này</p>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Recomended" id="flexRadioDefault2" checked value="true">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Nên mua
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Recomended" id="flexRadioDefault1" value="false">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Không nên mua
                            </label>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"  form="postReview" >OK</button>
            </div>
        </div>
    </div>
</div>

@*modal xoa review*@
<div class="modal fade" id="deleteReviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa nhận xét cho sản phẩm này?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center">Bạn có muốn xóa nhận xét của bạn với sản phẩm này?</p>
                <form asp-controller="Review" asp-action="DeleteReview" method="post" id="deleteReview">
                    <input type="hidden" name="UserID"  value="@(ViewBag.UserId)" />
                    <input type="hidden" name="BookId"  value="@(item.Id)" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" form="deleteReview" >OK</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
     @if(ViewBag.reviewPostResult!=null){
        <script>

            var res = @ViewBag.reviewPostResult ;
            if(res==0){
                alert("Có lỗi xảy ra! Xin hãy thử lại")
            }
            if(res==1){
                 alert("Đăng nhận xét thành công!")
            }
            if(res==2){
                 alert("Chỉnh sửa nhận xét thành công!")
            }
        </script>
     }

    @if(ViewBag.reviewDeleteResult!=null){
        <script>

            var res = @ViewBag.reviewDeleteResult ;
            if(res==1){
                alert("Xóa nhận xét thành công!")
            }
            else{
                alert("Có lỗi xảy ra! Xin hãy thử lại")
            }
        </script>
     }
}