@using WebTMDTLibrary.DTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Giỏ hàng của bạn";
    Layout = "_LayoutHome";
}
@model Cart

<div id="cartPage">
    <h2>GIỎ HÀNG</h2>

    <div style="min-height:100vh">
        @if (Model!.TotalItem > 0)
        {
            int stt = 1;

            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th></th>
                </tr>
                @foreach (var cartitem in Model.Items)
                {
                    double thanhtien = 0;

                    <tr>
                        <td>@(stt++)</td>
                        <td>@cartitem.Title</td>
                        <td>@(cartitem.Price.ToString("n0"))</td>
                        @if (cartitem.PromotionAmount == null && cartitem.PromotionPercent == null)
                        {
                            thanhtien = cartitem.Price * cartitem.Quantity;
                            <td> <span class="text-decoration-underline">@(cartitem.Price.ToString("n0")) </span></td>
                        }
                        else if (cartitem.PromotionAmount != null)
                        {
                            thanhtien = (cartitem.Price - Double.Parse(cartitem.PromotionAmount))*cartitem.Quantity;
                            <td>
                                <span class="text-decoration-line-through">@(cartitem.Price.ToString("n0")) </span>
                                <span class="text-decoration-underline mx-2">  @((cartitem.Price - Double.Parse(cartitem.PromotionAmount)).ToString("n0")) </span>
                                <span class="badge rounded-pill bg-danger">-@(cartitem.PromotionAmount)đ</span>

                            </td>
                        }
                        else if (cartitem.PromotionPercent != null)
                        {
                             thanhtien = (cartitem.Price - cartitem.Price/100*Double.Parse(cartitem.PromotionPercent)) * cartitem.Quantity;
                            <td>
                                <span class="text-decoration-line-through">@(cartitem.Price.ToString("n0")) </span>
                                <span class="text-decoration-underline mx-2">@((cartitem.Price - cartitem.Price/100*Double.Parse(cartitem.PromotionPercent)).ToString("n0"))</span>
                                <span class="badge rounded-pill bg-success">-@(cartitem.PromotionPercent)%</span>

                            </td>
                        }
                        <td>
                            <i class="fa-solid fa-minus me-2" onclick="RemoveFromCart(@Json.Serialize(cartitem).ToString())"></i>
                            @cartitem.Quantity
                            <i class="fa-solid fa-plus ms-2" onclick="addToCart(@Json.Serialize(cartitem).ToString())"></i>
                        </td>
                        <td>@(thanhtien.ToString("n0"))</td>
                        <td>
                            <button onclick="DeleteFromCart(@Json.Serialize(cartitem).ToString())"
                       class="btn btn-danger">Xóa</button>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="4" class="text-right">Tổng giỏ hàng</td>
                    <td class="text-center">@(Model.TotalItem.ToString("n0"))</td>
                    <td>@(Model.TotalPrice.ToString("n0"))</td>
                    <td></td>
                </tr>
            </table>

            <a asp-controller="Order" asp-action="Checkout" class="btn btn-success">Gửi đơn hàng</a>

        }
        else
        {
            <p class="alert alert-danger">Giỏ hàng trống</p>
        }
    </div>

</div>


